
body {
    background-color: #f6f6f6;
    border-top: 5px solid #009edf;
    color: #777;
    font-size: 11px;
}
.title-general {
    border-bottom: 1px dotted #495969;
    color: #495969;
    font-size: 19px;
    margin-bottom: 15px;
    margin-top: -15px;
    padding: 10px 0;
    text-transform: uppercase !important;
    width: 100%;
}
.odd {
    background: #eee none repeat scroll 0 0 !important;
}
#login .input-group-addon::after {
    background: #13171b none repeat scroll 0 0;
    content: "";
    height: 35px;
    left: 50px;
    position: absolute;
    top: 7px;
    width: 1px;
}
#login label {
    float: left;
    margin-bottom: 3px;
    width: 100%;
}
#login input {
    background: #333333 none repeat scroll 0 0;
    border: 0 solid;
    border-radius: 0 3px 3px 0 !important;
    height: 45px;
}
#login .form-control {
    box-shadow: none !important;
}
#login .login-btn {
    border-radius: 3px;
    margin-top: 20px;
}
#login .margin-bottom-sm {
    margin-bottom: 20px !important;
}
#login .input-group-addon {
    background: #333333 none repeat scroll 0 0;
    border: 0 solid;
    color: #13171b;
    padding: 7px 11px;
}
#login-submit {
    background: white none repeat scroll 0 0;
    border: 0 none;
    color: #666;
    margin-top: 20px !important;
    width: 150px;
}
#logo {
    left: 0;
    margin-left: 2.5%;
    position: absolute;
    top: 12px;
}
#logo img {
    height: 49px;
}
#logo-admin-block {
    float: left;
    height: 180px;
    text-align: center;
    width: 100%;
}
#logo-admin-img {
    width: 200px;
}
.admin-right-column {
    float: left;
    overflow-x: auto;
    width: 47%;
}
.admin-left-column {
    border-radius: 5px;
    float: left;
    height: auto;
    margin-right: 20px;
    overflow: hidden;
    padding: 20px;
    width: 50%;
}
.admin-generic {
    border-radius: 5px;
    display: table;
    margin: 0 auto;
    min-height: 490px;
    padding-top: 20px;
    position: relative;
    width: 95%;
}
.row-abc {
    float: left;
    width: 100%;
}
.descripcion {
    margin-bottom: 3px;
}
.input {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
.input select {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    margin-top: 3px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input {
    padding: 3px;
}
.input input {
}
#main-menu {
    margin-right: 2.5%;
    position: absolute;
    right: 0;
    top: 9px;
    width: auto;
    z-index: 1;
}
#main-menu .menu-item {
    float: right;
    padding: 0 2px;
    width: 156px;
}
#main-menu .menu-item .menu-item-link {
    color: #668393;
    display: block;
    font-size: 12px;
    line-height: 56px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    width: 110px;
}
#main-menu .menu-item ul {
    display: none;
}
#main-menu .menu-item:hover ul {
    display: block;
}
#main-menu .menu-item ul li {
    margin-top: 1px;
}
#main-menu .menu-item .menu-subitem-link {
    background: #495969 none repeat scroll 0 0;
    color: #eeeeee;
    display: block;
    padding: 12px 2px;
    text-align: center;
    text-decoration: none;
    width: 152px;
}
#main-menu .menu-item .menu-item-link:hover {
}
#disclaimer {
    color: #668393;
    font-size: 10px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
#main-menu .menu-item .menu-subitem-link:hover {
    background: #009edf none repeat scroll 0 0;
    color: white;
}
#general-controls {
    margin-right: 2.5%;
    position: absolute;
    right: 0;
    top: 10px;
}
#general-controls a {
    color: white;
    text-decoration: none;
}
.message-validation {
    color: red !important;
    margin-top: 10px !important;
    text-align: center;
}
.message-popup {
    margin-top: 10px !important;
    text-align: center;
}
.message-error {
    color: red !important;
}
.message-message {
}
.result-query {
    background: #13171b none repeat scroll 0 0;
    color: #777;
    height: auto;
    left: 2%;
    position: absolute;
    text-align: left;
    width: 95%;
    z-index: 1;
}
.result-query-item {
    border-bottom: 1px solid #212528;
}
.result-query-item {
    float: left;
    padding: 5px;
}
.result-query-item:hover {
    background: #009edf none repeat scroll 0 0;
    color: white;
    cursor: pointer;
}
.detail-report {
    color: #009edf;
    text-decoration: none;
}
.detail-list-item {
    display: table;
    float: left;
    width: 100%;
}
.detail-list-item-key {
    color: #009edf;
    float: left;
    font-size: 15px;
    height: 100%;
    margin: 10px 0;
    text-align: right;
    width: 20%;
}
pre.detail-list-item-val {
    border: 0 none;
    line-height: 1.5;
}
.detail-list-item-val {
    float: right;
    overflow-x: auto;
    padding-top: 5px;
    width: 75%;
}
.detail-img {
    width: 400px;
}
#main_content p {
    clear: both;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
}
#main_content h2, #main_content h3, #main_content h4 {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 0;
    text-transform: uppercase !important;
    width: 100%;
}
#main_content blockquote {
    float: left;
    margin: 10px 0 10px 50px;
    padding: 10px;
}
#main_content a {
    color: #27aae1;
}
.admin-only-left {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    visibility: hidden;
    width: 1px;
}
.admin-only-right {
    width: 99%;
}
.add-new-record-update a {
    color: #27aae1;
    text-decoration: none;
}
.add-new-record, .add-new-record-update {
    color: #27aae1;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 15px;
}
.admin-left-column {
    transition: width 0.5s linear 0s, padding 0.5s linear 0s, height 3s linear 0s, border 0.5s linear 0s, visibility 0.5s linear 0s, margin 0.5s linear 0s;
}
.admin-right-column {
    float: right;
    transition: width 0.5s linear 0s;
}
.login-name {
    color: #668393;
}
.center-data {
    color: #27aae1;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50px !important;
}

.center-data-unlimited {
    color: #27aae1;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100% !important;
}
.dataTables_wrapper {
    margin: 0 auto;
    max-width: 1150px !important;
    overflow-x: auto;
    width: 100% !important;
}
.table-admin {
    width: 100% !important;
}
.menu-item .input-group-addon {
    background: transparent none repeat scroll 0 0;
    border: 0 solid;
    border-radius: 0;
    color: #293340;
}
header {
    background: #13171b none repeat scroll 0 0;
    height: 64px;
    width: 100%;
}
main {
    margin-bottom: 10px;
}
html, body {
    height: 100%;
}
.page-wrap {
    margin-bottom: -50px;
    min-height: 100%;
}
.page-wrap::after {
    content: "";
    display: block;
}
.site-footer, .page-wrap::after {
    height: 50px;
}
.site-footer {
    background: #13171b none repeat scroll 0 0;
}
.login-form {
    background: #13171b none repeat scroll 0 0 !important;
}
.form-operation {
    color: #495969;
    font-size: 20px;
    width: 250px;
}
.admin-right-column th {
    text-align: center;
}
table.dataTable thead th, table.dataTable tfoot th {
    text-transform: uppercase;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd !important;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 1px solid #ddd !important;
}
.profile .input-group-addon::after {
    background: #293340 none repeat scroll 0 0;
    content: "";
    height: 25px;
    left: 0;
    position: absolute;
    top: 19px;
    width: 1px;
}
.profile .menu-item-link {
    color: white !important;
    font-size: 10px !important;
    width: 70px !important;
}
.profile .fa-fw {
    color: white;
}
.input-group-addon {
    padding: 6px 0 6px 12px;
}
.profile {
    width: 110px !important;
}
.profile .submenu-item a {
    margin-left: 0 !important;
    width: 106px !important;
}


.dataTables_wrapper .no-style,
.dataTables_wrapper .si-style,
.dataTables_wrapper .pendiente-style,
.dataTables_wrapper .default-style{

    width:100%;
    text-align: center;

}


.no-style,.si-style,.pendiente-style,.default-style{

    margin-right: 10px;
    font-size: 15px;
}
.no-style{

    color:#cc0000;
}

.si-style{

    color:#00cc00;
}


.pendiente-style{

    color:#cccc00;
}

.default-style{

    color:#ccc;
}


.input .cms-style{

    height:500px !important;

}