
:root {
    --background: #ddd;
    --contrast: #171B1F;
    --font-code: #ccc;
    --font-color1: #666;
    --hs: #171B1F;
    --main-color1: #27AAE1;
    --main-color3: #495969;
    --main-font: #171B1F;
}
body {
    background: var(--background);
    border-top: 5px solid var(--main-color1);
    color: var(--main-font);
    font-size: 13px;
}
#main_content p {
    clear: both;
    color: var(--font-color1);
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
}
#main_content h1 {
    clear: both;
    color: var(--main-color1);
    font-size: 30px;
    margin-bottom: 15px;
    padding: 10px 0;
    text-transform: uppercase !important;
    width: 100%;
}
#main_content h2, #main_content h3, #main_content h4 {
    clear: both;
    color: var(--hs);
    font-size: 20px;
    margin: 15px 0;
    padding: 10px 0;
    text-transform: uppercase !important;
    width: 100%;
}
#main_content blockquote {
    background: var(--font-code);
    border-left: 10px solid var(--main-color1);
    color: var(--contrast);
    float: left;
    margin: 10px 0 10px 50px;
    padding: 10px;
}
#main_content blockquote p {
    color: var(--contrast);
}
#main_content a {
    color: var(--main-color1);
}
#main_content {
    height: auto;
    margin: 0 auto;
    width: 90%;
}
header {
    background: var(--contrast);
    padding: 0 5%;
    text-align: left;
    width: 100%;
}
#logo {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 115px;
}
nav {
    background-color: var(--contrast);
}
nav ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
nav a {
    border-left: 1px solid var(--main-color3);
    color: var(--background);
    display: block;
    font-size: 15px;
    line-height: 80px;
    padding: 0 10px;
    text-decoration: none;
}
nav ul ul a {
    border-left: 0 solid var(--main-color3);
}
nav a:hover {
    background-color: var(--main-color1);
    color: var(--contrast);
}
nav ul ul {
    border-top: 1px solid var(--background);
    display: none;
    margin-left: -85px;
    position: absolute;
    top: 100%;
}
nav ul ul ul {
    border-top: 0 none !important;
    margin-left: 0 !important;
}
nav ul li:hover > ul {
    display: inherit;
}
nav ul ul li {
    display: list-item;
    float: none;
    min-width: 170px;
    position: relative;
}
nav ul li {
    background-color: var(--contrast);
    display: inline-block;
    margin: 0;
    min-width: 170px;
    text-align: center;
}
nav ul ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}
li > a::after {
    content: " +";
}
li > a:only-child::after {
    content: "";
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    margin-bottom: -50px;
    min-height: 100%;
}
.page-wrap::after {
    content: "";
    display: block;
}
.site-footer, .page-wrap::after {
    height: 50px;
}
.site-footer {
    background: var(--contrast);
    color: var(--main-color3);
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#disclaimer {
    line-height: 50px;
    width: 100%;
}
#hero-internal {
    background-image: url("img/media/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    height: 25vh;
    position: relative;
}
#hero {
    background-image: url("img/media/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    height: 45vh;
    position: relative;
}
.header {
    color: #fff;
    font-size: 36px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0px, -50%);
    width: 100%;
}
#content {
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    width: 80%;
}
#content h2 {
    margin: 0 0 30px;
}
#footer {
    background: #ddd none repeat scroll 0 0;
    padding: 30px 0;
    text-align: center;
}
#hero-internal .jumbotron {
    background: transparent none repeat scroll 0 0;
    color: white;
    padding: 0 5%;
    position: absolute;
    width: 90%;
}
#hero .jumbotron {
    background: transparent none repeat scroll 0 0;
    color: white;
    height: 100%;
    margin-right: -30%;
    padding: 0;
    position: absolute;
    right: 50%;
    text-align: center;
    width: 60%;
}
#wrapper .jumbotron h1 {
    color: #171b1f;
}
.btn-outline-inverse {
    background-color: transparent;
    border-color: white;
    color: white;
}
.bs-docs-masthead .bs-docs-booticon {
    margin: 0 auto 30px;
}
.bs-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid white;
}
.bs-docs-booticon-lg {
    font-size: 108px;
    height: 144px;
    line-height: 140px;
    width: 144px;
}
.bs-docs-booticon {
    border-radius: 15%;
    color: #fff;
    cursor: default;
    display: block;
    font-weight: 500;
    text-align: center;
}
.col-sm-4 {
    text-align: center;
}
.col-sm-4 img {
    display: inline;
    height: 60px;
}
.h2-title {
    color: #343f4a;
}
#wrapper .half-rule {
    border-color: #343f4a;
    margin: 0 auto 20px;
    width: 40%;
}
.dynamic-height {
    height: 70%;
    margin-top: -10%;
    position: absolute;
    top: 40%;
    width: 100%;
}
.dynamic-height-internal {
    height: 70%;
    margin-top: 1%;
    position: absolute;
    width: 100%;
}

.jumbofooter {

    padding: 0;
    text-align: center;
    line-height: 100px;
    background: transparent;

}

@media only screen and (max-width : 900px) {


    header{

        text-align: center;
        padding:0;

    }
    header #logo{

        width:70%;
        float: none;
        margin-right: 0;

    }

    nav a{

        border-left:0;
        border-bottom: 1px solid var(--main-color3);

    }

    nav ul{

        margin-top:10px;

    }
    nav ul li{

        min-width:100%;

    }

    #content{

        width:90%;
        padding:30px 0;

    }

    #hero{

        height:350px;

    }

    #hero-internal{

        height: 250px;


    }
    #hero .jumbotron{

        height: 100%;
        margin-bottom: 0;
        padding: 0;
        right: 50%;
        text-align: center;
        width: 90%;
        position:static;

    }

    .dynamic-height{


        margin-top:0;
        top:2%;

    }

    .well{

        overflow-x: auto;

    }

    .col-sm-4{

        margin-bottom:40px;

    }

    .lead{

        font-size:15px;

    }

}
