*{
    margin:0;
}
html, body {
    height: 100%;
}

body{
	
	background-color:#13171B;
	color:#777;
	font-family:Arial;
	font-size:11px;

}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -30px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 20px;
    padding-top:10px;
}



.title-general{

    font-size:25px;
    color:#009EDF;
    width:100%;
    padding:10px 0;
    margin-bottom: 15px;
    margin-top: -15px;
    text-transform: uppercase !important;
    border-bottom: 1px dotted #009EDF;

}

.odd{
	
	background:#eee !important;
	
}
#login{
	
	width:200px;
	background:#333;
	height:130px;
	margin:0 auto;
	border-radius:10px;
	padding:10px;
	text-align:center;
    clear:both;
}

#login label{
	
	width:100%;
	float:left;
	margin-bottom:3px;
	
}

#login input{
	
	margin-bottom:5px;
	
}

#login-submit{
	
	margin-top:20px;
	width:150px;
	border:0px;
	background:white;
	color:#666;
	
}

#logo{

    position: absolute;
    left:50%;
    top:12px;
    margin-left:-550px;

}

#logo img{

    width:100px;

}

#logo-admin-block{

    float:left;
    width:100%;
    text-align: center;
    height: 180px;
    margin-top: 30px;

}

#logo-admin-img{

    width:200px;

}

.admin-right-column{
	
	float:left;
	width:800px;
	padding:10px;
    overflow-x: auto;
}
.admin-left-column{
	
	float:left;
	width:200px;
	padding:20px;
	height:auto;
	margin-right:20px;
	border:1px dotted #444;
	border-radius:5px;
    overflow: hidden;
}

.admin-generic{
	
	width:1100px;
	margin:0 auto;
	min-height:490px;
	background:rgba(80,80,80,0.5);
	padding:20px;
	border-radius:5px 0 5px 5px;
	margin-top:70px;
    display: table;
    position: relative;
}

.row-abc{
	
	float:left;
	width:100%;
	
}

.descripcion{
	
	margin-bottom:3px;
}

.input{
	
	margin-bottom:10px;
	text-align:center;
	width:100%;
    position:relative;
}

.input select{
	width:190px;
	margin-top:3px;
	
}
input{
    border-radius:3px !important;
    border:1px solid black;
    padding: 3px;
}

.input input{
	
	width:190px;
	border:1px solid black;
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
	padding: 3px;
    border: 0;
	margin-top:3px;
	color:#777;
    border-radius:3px;

	
}

#main-menu{
	
    height: 40px;
    left: 50%;
    margin-left: -548px;
    position: absolute;
    top: 40px;
    width: 1120px;
    z-index: 1;
	
}

#main-menu .menu-item{
	
	float:right;
	padding:0 2px;
	width:110px;
	
}

#main-menu .menu-item .menu-item-link{

	width:106px;
	background:rgba(80,80,80,0.5);
	display:block;
	text-decoration:none;
	color:white;
	text-align:center;
	font-size:12px;
	line-height:24px;
	padding:2px;
	
	
}

#main-menu .menu-item ul{
	
	display:none;
	
}

#main-menu .menu-item:hover ul{
	
	display:block;
	
}

#main-menu .menu-item ul li{
	
	margin-top:2px;
	
}

#main-menu .menu-item .menu-subitem-link{
	width:106px;
	padding:10px 2px;
	/*background:#7A80DD;*/
	background:#009EDF;
	display:block;
	text-decoration:none;
	color:#EEEEEE;
	text-align:center;
	
}

#main-menu .menu-item .menu-item-link:hover{
	/*background:#EEEEEE;
	color:#282828;*/

}

#disclaimer{
	
	width:100%;
	text-align:center;
	font-size:10px;
	margin:0 auto;
    color:#495969;

}


#main-menu .menu-item .menu-subitem-link:hover{
	background:#EEEEEE;
	color:#282828;

}

#general-controls{
	
	width:200px;
	position:absolute;
	right:50%;
	margin-right:-569px;
	text-align:right;
	top:16px;
}

#general-controls a{
	
    color: white;
    float: right;
    text-decoration: none;
	margin-left: 5px;
}

.login-name-span{

    color:white;

}

.message-validation{
    text-align: center;
    margin-top: 10px !important;
    color:red !important;


}
.message-popup{
    text-align: center;
    margin-top: 10px !important;
}

.message-error{

    color:red !important;

}

.message-message{

    /*color:forestgreen !important;*/

}

.result-query{

    position: absolute;
    width:95%;
    background: #13171B;
    height: auto;
    z-index: 1;
    left: 2%;
    text-align: left;
    color:#777;

}

.result-query-item{

    border-bottom: 1px solid #212528;

}
.result-query-item{

    padding:5px;
    float:left;

}

.result-query-item:hover{

    background: #009EDF;
    color:white;
    cursor:pointer;

}


.detail-report{

    color: #009EDF;
    font-size: 18px;
    text-decoration: none;

}


.detail-list-item{

    float:left;
    width:100%;
    border-bottom: 1px dotted #13171B;
    display: table;

}

.detail-list-item-key{

    float:left;
    width:20%;
    color:#009EDF;
    font-size: 15px;
    margin:10px 0;
    text-align: right;
    height: 100%;

}

pre.detail-list-item-val{

    line-height: 1.5;
    color:white;

}
.detail-list-item-val{

    float:right;
    width:75%;
    padding-top: 5px;
    overflow-x: auto;
}

.detail-img{

    width:400px;

}

#main_content p{

    font-size: 13px;
    font-weight: normal;
    clear:both;
    line-height: 1.2;


}

#main_content h2,
#main_content h3,
#main_content h4{

    color: #eee;
    font-size: 20px;
    margin-bottom: 15px;
    padding: 10px 0;
    text-transform: uppercase !important;
    width: 100%;

}

#main_content blockquote{

    float:left;
    margin:10px 0 10px 50px;
    background: #27AAE1;
    color:white;
    padding:10px;
    border-left:10px solid white;

}

#main_content a{

    color:#27AAE1;

}

.admin-only-left{

    width:1px;
    padding-left:0px;
    padding-right:0px;
    border:0px dotted #444;
    visibility: hidden;
    margin:0;
}

.admin-only-right{
    width:1075px;
}

.add-new-record-update a{
    text-decoration: none;
    color:#27AAE1;
}
.add-new-record,.add-new-record-update{
    position: absolute;
    right: 20px;
    top: 15px;
    color:#27AAE1;
    font-size: 15px;
    background: url("../css/img/add.png") no-repeat top right;
    line-height:18px;
    padding-right: 24px;
    cursor:pointer;
}

.add-new-record-update{
    background: url("../css/img/return.png") no-repeat top right;
}
.admin-left-column{
    transition: width .5s linear,
                padding .5s linear,
                 height 3s linear,
                 border .5s linear,
                 visibility .5s linear,
                 margin .5s linear;
}

.admin-right-column{
    transition: width .5s;
    transition-timing-function: linear;
    float: right;
}

.login-name{

    color:#27AAE1;

}

.center-data{

    text-align: center;
    width:50px !important;
    display: block;
    margin:0 auto;

}

header{
    float: left;
    height: 70px;
    position: relative;
    width: 100%;
}



.hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #27AAE1;
    margin: 28.87px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 28.87px solid #27AAE1;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.87px solid #27AAE1;
}