:root {
    --background: #ddd;
    --contrast: #171B1F;
    --font-code: #ccc;
    --font-color1: #666;
    --hs: #171B1F;
    --main-color1: #ff0000;
    --main-color3: #495969;
    --main-font: #171B1F;
}
body {
    background: var(--background);
    color: var(--main-font);
    font-size: 13px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    margin-bottom: -50px;
    min-height: 100%;
}
.page-wrap::after {
    content: "";
    display: block;
}
.site-footer, .page-wrap::after {
    height: 50px;
}
.site-footer {
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

header{

    background:var(--main-color1) ;

}

footer{

    background:var(--main-color1) ;

}