<menu>

	<item>
		<itemName>Administrador</itemName>
		<itemLink>?s=home</itemLink>
		<rol>ADMINISTRADOR</rol>
		<rol>Vendedor</rol>
        <icon>pe-7s-config</icon>


        <subitem>
			<subitemName>Usuarios</subitemName>
			<subitemLink>?s=admin-admin</subitemLink>
			<module>admin</module>
            <icon>pe-7s-users</icon>

        </subitem>
		
		<subitem>
			<subitemName>Roles</subitemName>
			<subitemLink>?s=rol-admin</subitemLink>
            <module>rol</module>
            <icon>pe-7s-id</icon>

        </subitem>
	</item>

    <item>
        <itemName>CMS</itemName>
        <itemLink>#</itemLink>
        <rol>ADMINISTRADOR</rol>
        <icon>pe-7s-display1</icon>


        <subitem>
            <subitemName>Menú Frontend</subitemName>
            <subitemLink>?s=menu-admin</subitemLink>
            <module>menu</module>
            <icon>pe-7s-home</icon>
        </subitem>

        <subitem>
            <subitemName>Test</subitemName>
            <subitemLink>?s=test-admin</subitemLink>
            <module>test</module>
        </subitem>

        <!--subitem>
            <subitemName>Contenido</subitemName>
            <subitemLink>?s=rol-admin</subitemLink>
            <module>rol</module>
        </subitem-->
    </item>



    <item>
        <itemName>Establecimientos</itemName>
        <itemLink>?s=home</itemLink>
        <rol>ADMINISTRADOR</rol>
        <icon>pe-7s-angle-right-circle</icon>


        <subitem>
            <subitemName>Sucursales</subitemName>
            <subitemLink>?s=sucursal-admin</subitemLink>
            <module>sucursal</module>
        </subitem>

        <subitem>
            <subitemName>Marcas</subitemName>
            <subitemLink>?s=marca-admin</subitemLink>
            <module>marca</module>
        </subitem>

        <subitem>
            <subitemName>Categorías</subitemName>
            <subitemLink>?s=categoria-admin</subitemLink>
            <module>categoria</module>
        </subitem>

        <subitem>
            <subitemName>Categorías Vive</subitemName>
            <subitemLink>?s=categoria_vive-admin</subitemLink>
            <module>categoria_vive</module>
        </subitem>

        <subitem>
            <subitemName>Proyectos</subitemName>
            <subitemLink>?s=proyecto-admin</subitemLink>
            <module>proyecto</module>
        </subitem>

        <subitem>
            <subitemName>Servicios</subitemName>
            <subitemLink>?s=servicio-admin</subitemLink>
            <module>servicio</module>
        </subitem>

        <subitem>
            <subitemName>Servicios de sucursales</subitemName>
            <subitemLink>?s=servicio_sucursal-admin</subitemLink>
            <module>servicio_sucursal</module>
        </subitem>

        <subitem>
            <subitemName>Zonas</subitemName>
            <subitemLink>?s=zona-admin</subitemLink>
            <module>zona</module>
        </subitem>

    </item>

</menu>