[title="JavaScript charts"] { display: none!important }
.media { margin-top: 0; }
*:focus, *:active {   
	outline: none!important;
}
.btn .badge {
	position: absolute!important;
	top: -7px!important;
}
.btn-block {
	display: inline-block;
}